<html lang="en">
<footer class="text-white text-center py-5" th:fragment="footerFrag">
    <div class="container-fluid">
        <div class="row text-start fw-bold">
            <div class="col-lg-4 pb-5">
                <p>INTarea CEO : <span>Kim Su Young</span></p>
                <p>E-mail : <span>info@intarea.com</span></p>
                <p>FAX : <span>+82 031-734-1958</span></p>
            </div>
            <div class="col-lg-8">
                <p>Address : <span>4, Gwangmyeong-ro, Jungwon-gu, Seongnam-si, Gyeonggi-do, Republic of Korea (13364)</span></p>
                <div class="d-flex">
                    <p class="me-5">TEL : <span>+82 031-734-1958</span></p>
                    <p class="text-end fw-medium">Copyright 2025 © ALL RIGHT RESERVED BY INTarea</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>
