<nav class="navbar navbar-expand-lg fixed-top mb-5" th:fragment="navbarFrag">
    <div class="container-fluid">
        <a class="navbar-brand my-2" th:href="@{/}">
            <img src="/image/logo.png" alt="intarea" width="180" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon nav-main"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- 로그인 멤버 표시문 -->
                <li class="nav-item mt-2 mx-2 text-white align-items-center" th:if="${loginMember != null}">
                    <span>
                        <span style="font-weight:bold; color:#FF8A44;" th:text="${loginMember.name}"></span> 님 환영합니다.
                    </span>
                </li>
                <!-- 공지사항 게시판 -->
                <li class="nav-item mx-2">
                    <a class="nav-link" th:href="@{/notice}">공지사항</a>
                </li>
                <!-- 생산-관리 드롭다운 메뉴 -->
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        생산&#183;관리
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/material}">재료 입력</a></li>
                        <li><a class="dropdown-item" th:href="@{/material/list}">재료 리스트</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/order}">제품 주문</a></li>
                        <li><a class="dropdown-item" th:href="@{/order/list}">제품 리스트</a></li>
                        <li><a class="dropdown-item" th:href="@{/order/cancel}">주문 취소 리스트</a></li>
                    </ul>
                </li>
                <!-- 예측 드롭다운 메뉴 -->
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        예측
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/material/predict}">재료 발주량 예측</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/process/a/predict}">공정A 제품 품질 예측</a></li>
                        <li><a class="dropdown-item" th:href="@{/process/b/predict}">공정B 제품 불량여부 예측</a></li>
                    </ul>
                </li>
                <!-- 관리자 드롭다운 메뉴 -->
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        관리자
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"  th:href="@{/}">관리자 홈</a></li>
                        <li><a class="dropdown-item" th:if="${loginMember != null and loginMember.grade.name() == 'MANAGER'}" th:href="@{/admin/user/list}">회원 관리</a></li>
                        <li><a class="dropdown-item" th:href="@{/report}">공정 레포트</a></li>
                    </ul>
                </li>
                <!-- 로그아웃 버튼 -->
                <li class="nav-item nav-link mx-2" th:if="${loginMember != null}">
                    <form th:action="@{/logout}" method="post" style="display:inline;">
                        <button type="submit" class="nav-link text-white" style="background:none; border:none; padding:0; margin:0; cursor:pointer;">
                            로그아웃
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
