<!DOCTYPE html>
<html layout:decorate="~{layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 에러</title>
</head>
<!-- 본문 영역 -->
<div layout:fragment="content">
    <div class="container text-center" style="max-width: 600px">
        <div class="py-5">
            <h2 class="fw-bold">404 ERROR</h2>
        </div>
        <div>
            <h2 class="fw-bold">여기는 아무것도 없다냥!</h2>
            <img src="/image/404cat.png" alt="404cat" class="">
        </div>
    </div>
</div>
</html>
